
.text-field {
    -fx-pref-width: 100%;
    -fx-background-radius: 5px;
    -fx-border-width: 2px;
    -fx-border-color: linear-gradient(to bottom right, #ccc, #333);
    -fx-padding: 5px;
}

.sidebar {
    -fx-background-color: #333;
    -fx-border-color: #555;
    -fx-padding: 10px 5;
    -fx-pref-width: 130px;
}

.sidebar-button {
    -fx-min-width: 120px;
    -fx-max-width: 120px;
    -fx-margin: 0 0 10px 0;
}

.sidebar-button-box {
    -fx-alignment: TOP_LEFT;
}

.customer-form {
    -fx-background-image: url('customer.jpg');
    -fx-background-size: cover;
    -fx-opacity: 0.9;
}

.trainer-form {
    -fx-background-image: url('trainer.jpg');
    -fx-background-size: cover;
    -fx-opacity: 0.85;
}

.label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.button.submit-button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
}

.button.submit-button:hover {
    -fx-background-color: #45a049;
}

.root {
    -fx-background-image: url('/gym.jpg');
}

.admin-detail {
        -fx-background-image: url('/gym-detail.jpg');
        -fx-background-size: cover;
        -fx-background-position: center;
        -fx-opacity: 0.8;
}

.button-box {
    -fx-spacing: 20;
    -fx-padding: 10;
    -fx-alignment: center;
}

.button {
    -fx-background-color: linear-gradient(#52a7ea, #0083ff);
    -fx-background-radius: 30;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-pref-width: 150px;
    -fx-cursor: hand;
    -fx-padding: 10 20;
}


#login-button {
    -fx-background-color: linear-gradient(#52a7ea, #0083ff);
    -fx-background-radius: 5px;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
}

#login-button:hover {
    -fx-background-color: linear-gradient(#4CAF50, #4CAF50);
}

#grid-pane {
    -fx-background-color: LIGHTGRAY;
}
