/* Text fields */
.text-field {
    -fx-pref-width: 100%;
    -fx-background-radius: 5px;
    -fx-border-width: 2px;
    -fx-border-color: linear-gradient(to bottom right, #ccc, #333); /* Darker color at corners */
    -fx-padding: 5px;
}


/* Sidebar */
.sidebar {
    -fx-background-color: #333;
    -fx-border-color: #555;
    -fx-padding: 10px 5;
    -fx-pref-width: 130px;
}

/* Sidebar buttons */
.sidebar-button {
    -fx-min-width: 120px;
    -fx-max-width: 120px;
    -fx-margin: 0 0 10px 0;
}

/* Sidebar button box */
.sidebar-button-box {
    -fx-alignment: TOP_LEFT;
}

/* Customer form */
.customer-form {
    -fx-background-image: url('customer.jpg');
    -fx-background-size: cover;
    -fx-opacity: 0.9;
}

.trainer-form {
    -fx-background-image: url('trainer.jpg');
    -fx-background-size: cover;
    -fx-opacity: 0.85;
}

/* Label */
.label {
    -fx-text-fill: white; /* Set font color to white */
    -fx-font-weight: bold; /* Make font bold */
    -fx-font-size: 14px; /* Set font size */
}


/* Submit button */
.button.submit-button {
    -fx-background-color: #4CAF50; /* Green */
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
}

/* Hover effect */
.button.submit-button:hover {
    -fx-background-color: #45a049; /* Darker green */
}


.root {
    -fx-background-image: url('/gym.jpg');
}

.button-box {
    -fx-spacing: 20;
    -fx-padding: 10;
    -fx-alignment: center;
}

.button {
    -fx-background-color: linear-gradient(#52a7ea, #0083ff);
    -fx-background-radius: 30;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-pref-width: 150px;
    -fx-cursor: hand;
    -fx-padding: 10 20;
}
